<template name="footer">
    <footer class="footer">
        <div class="container">
            <ul class="text-muted text-right list-inline">
                <li><a href="mailto:donovanskeith+whaddya.bugs@gmail.com?Subject=Whaddya%20Bug%3A%20">
                    <img src="images/icons/noun_bug_51169.png">
                    Report a Bug</a></li>
                <li><a href="mailto:donovanskeith+whaddya.ideas@gmail.com?Subject=Whaddya%20Idea%3A%20">
                    <img src="images/icons/noun_idea_762.png">
                    Suggest an Idea</a></li>
            </ul>
        </div>
    </footer>
</template>