<template name="layout">
    <!--<body id="random-bg">-->
    <div class="container" id="random-bg">
        <header class="page-header">
            <h1>{{> dayTime}}</h1>
            <p class="lead">Whaddya wanna do?</p>
        </header>
        {{> yield}}
    </div>
    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--</body>-->
</template>