<template name="footer">
    <footer class="footer">
        <div class="container">
            <ul class="text-muted text-right list-inline">
                <li><a href="mailto:donovanskeith+whatcha.bugs@gmail.com?Subject=Whatcha%20Bug%3A%20IssueTitleGoesHere&Body=Issue%20Summary%0A------------------%0A%0ASummaryGoesHere%0A%0A%0ASteps%20to%20Reproduce%0A-----------------------%0A%0ABuggyPageURLGoesHere%0A%0A1.%20FirstStep%0A2.%20AdditionalSteps%0A%0A%0AExpected%20Behavior%0A----------------------%0A%0ADescriptionOfExpectedBehavior%0A%0A%0AThanks%2C%0A%0AYourNameGoesHere">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJUlEQVQ4T4WT/TWDYQxHbydgAzoBI3QDTKAbqAkwATZgArWBEWyg3aAm4NznJOTEeSv/9D15kptfPjrj15bALbAC1sVfP8+Be+AOePJh1gIPgQfgLQNagUUU2KW/A9L/DlhtE47jUHXalU0BbOcGMFET9CO7QgTYb8rON31nrZq+i+Ib7Qgw2d6tqln1Y2KI89KWQ9wIsC/pKdffhHXOSAqng1zkDBzaUTz+GVSjGGuRrcXrEHXaTu+9q3iNVQ4lfQsekYeyz66j0IhJgEO8CrLf+8zeVfoI7BKgHHtzSC//AFylQz4B5gn4KmqEXE5AnsuGRo4AD8KkukbVHDTIZ8Tk/0DVSwEOToi3n5a34Wo1V+a74DRvZ50AnQ6mW95ETcwYC/MNV1I9galbeLMAAAAASUVORK5CYII="/>
                    Report a Bug</a></li>
                <li><a href="mailto:donovanskeith+whatcha.ideas@gmail.com?Subject=Whatcha%20Idea%3A%20IdeaTitleGoesHere&Body=Idea%20Summary%0A------------------%0A%0ASummaryGoesHere%0A%0AThanks%2C%0A%0AYourNameGoesHere">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4T62S0RGBMRCEv78CVIAOdIAK0IEO6AAdUIIOqAAd6AAVoAOzmcTEyR95cDN5SO6yt7t3FemYAjOg59NnYA1sbXmV+H8E+jXAO2AS5yyAuqhzLlbAMhTEAE3g/uNzSLeAhy4xwAA4FAIMAUn9L0AHuBQy6AJXy0D33AQC9gmQXBd2CiU+vPWnAPSWG+UGmOf2QDmNU/oaxo8nIJ/c+OokhHdt3MgA7IGxNTm1yqpRJ504xMo5X8JAq7owtR8r/EuCqMrMti+8efMkrYhBkOHW1c/9i74SLzKyIxH/8vJDAAAAAElFTkSuQmCC"/>
                    Suggest an Idea</a></li>
            </ul>
        </div>
    </footer>
</template>