<template name="footer">
    <footer class="footer">
        <div class="container">
            <ul class="text-muted text-right list-inline">
                <li><a href="mailto:donovanskeith+whatcha.bugs@gmail.com?Subject=Whatcha%20Bug%3A%20IssueTitleGoesHere&Body=Issue%20Summary%0A------------------%0A%0ASummaryGoesHere%0A%0A%0ASteps%20to%20Reproduce%0A-----------------------%0A%0ABuggyPageURLGoesHere%0A%0A1.%20FirstStep%0A2.%20AdditionalSteps%0A%0A%0AExpected%20Behavior%0A----------------------%0A%0ADescriptionOfExpectedBehavior%0A%0A%0AThanks%2C%0A%0AYourNameGoesHere">
                    <img src="images/icons/noun_bug_51169.png">
                    Report a Bug</a></li>
                <li><a href="mailto:donovanskeith+whatcha.ideas@gmail.com?Subject=Whatcha%20Idea%3A%20IdeaTitleGoesHere&Body=Idea%20Summary%0A------------------%0A%0ASummaryGoesHere%0A%0AThanks%2C%0A%0AYourNameGoesHere">
                    <img src="images/icons/noun_idea_762.png">
                    Suggest an Idea</a></li>
            </ul>
        </div>
    </footer>
</template>