/*
Color Scheme from Kuler
Source: https://color.adobe.com/Flat-design-colors-1-color-theme-3044245/
*/

.color-1 {
    background-color: #334D5C;
}

.color-2 {
    background-color: #45B29D;
}

.color-3 {
    background-color: #EFC94C;
}

.color-4 {
    background-color: #E27A3F;
}

.color-5 {
    background-color: #DF5A49;
}

.activity-icon {
    margin: 0 auto;
}

.activity .activity-page {
    /*background: inherit;*/
    transition: 0s;
    min-height: 255px;
}

.activity:hover {
    background: white;
    -webkit-filter: invert(1);
    filter: invert(1);
}

body {
    /*background-color: #ababab;/!*default*!/*/
    /*transition: background-color 5s ease; /!* future-proof *!/*/
    /*-webkit-transition: background-color 5s ease;*/
    /*-moz-transition: background-color 5s ease;*/
    /*-o-transition: background-color 5s ease;*/
    /*-ms-transition: background-color 5s ease;/!* IE10+ only *!/*/
}

li {
    background: white;
    padding: 4px;
    padding-right: 6px;
    margin-left: 4px;
    border-radius: 4px;
}

.more-info{
    background: white;
}

.spinner-container{
    position: relative;
}

.hours-table{
    width: auto;
}

.hours-checked{

}